// DocTemplateFacetList
$rb-facet-list-border-color: $border-color !default;

// DocTemplateConstructor
$rb-doc-template-constructor-title-color: #333 !default;
$rb-doc-template-constructor-title-font-size: 16px !default;
$rb-doc-template-section-bg: #E9EAEA !default;
$rb-doc-template-constructor-form-column-border-color: #D5D5D6;

// DocTemplateFieldSidebar
$rb-doc-template-field-sidebar-font-size-lg: 1rem !default;
$rb-doc-template-field-sidebar-top: 72px !default;
$rb-doc-template-field-sidebar-close-button-left: -46px !default;

// DocForm
$rb-doc-form-font-size-lg: 1rem !default;
$rb-doc-form-legend-line-height: $line-height-base !default;
